// import font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

header {
  position: relative;
  background: url("../images/slider-img.png") no-repeat 100% 100%;
  min-height: 800px;
}

.active {
  color: #212121 !important;
  font-weight: 700 !important;
  border-bottom: 3px solid #212121 !important;
}

.header__top {
  padding-top: 63px;
}

.logo {
  display: block;
  padding: 2px 0 0 14%;

  &__link {
    max-width: 185px;
    max-height: 22px;
    text-decoration: none;
  }
}
/* Navigation */
.nav {
  padding-right: 10%;

  &-item {
    padding: 0 11px;
    font-size: 14px;
    font-weight: 300;
  }

  &-link {
    color: #8c8c8c;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-link:hover {
    color: #212121 !important;
    border-bottom: 3px solid #212121;
    padding-bottom: -3px;
  }

  &-item > span {
    cursor: pointer;
  }
}

.descripton {
  display: block;
  position: absolute;
  margin-left: 0;
  bottom: 200px;
  max-width: 460px;
  text-align: left;

  &__header {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__name {
    color: #212121;
    font-size: 55px;
    font-weight: 100;
    line-height: 43px;
    text-transform: uppercase;
    margin: 22px 0 34px 8px;
  }

  &__text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }

  &__btn {
    background-color: #fff;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px;
  }

  .big-text {
    font-size: 24px;
  }

  .mobile-stores {
    padding: 33px 10px 0 0;
  }

  &__btn:hover {
    box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  }
}

.blue {
  color: #1e88e5 !important;
}

.red {
  color: #e53935 !important;
}

.gray {
  color: #6c6c6c;
}

.bold {
  font-size: 36px;
  font-weight: 700;
}

.sliderDots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  align-items: center;
}

.span {
  width: 30px;
  height: 30px;
  background-color: rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  margin: 0 10px;

  &__active {
    width: 40px;
    height: 40px;
    background-color: #212121;
  }
}

.features {
  &__nav {
    margin-top: 120px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    font-size: 36px;
    font-weight: 700;
  }

  &__item-more {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;

    &:hover {
      text-decoration: none;
      color: #212121;
      text-decoration: underline #212121;
    }
  }

  &__heading {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
  }

  &__link {
    color: #6c6c6c;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
  }

  &__goods {
    margin: 50px 0;
  }

  &__images {
    display: block;
    max-width: 270px;
    max-height: 270px;
    padding: 0;
    margin: 15px;
  }

  &__images:hover {
    background: url("../images/product-content-hover.png") no-repeat 100% 100%;
    z-index: 1;
  }

  &__images:hover img {
    opacity: 0.2;
  }
}

.features-2 {
  width: 100%;

  &__goods {
    position: relative;
  }

  &__item {
    display: block;
  }

  &__item img {
    max-width: 683px;
    max-height: 683px;
  }

  &__item .descripton {
    margin-left: 50px;
  }
}

.features-3 {
  display: block;
  padding: 0 14%;
  width: 100%;
}

.trendProduct {
  margin-top: 64px;
  flex-wrap: wrap;
  align-content: space-between;

  &__img {
    display: block;
    max-height: 370px;
    max-width: 370px;
  }
}

// .slider {
//   position: relative;
//   margin-top: 120px;
//   width: 100%;
//   display: block;
//
//   &__img {
//     display: block;
//     position: relative;
//     width: 100%;
//   }

  .slider {
    margin-top: -10px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }

  .slider div img {
    margin: auto;
    max-width: 100%;
  }

  .slick-dots {
    bottom: 80px;
  }

  .slick-dots li button:before {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.2);
  }

  .slick-dots li.slick-active button:before {
    color: white;
  }

  .descripton {
    margin-left: 50px;
  }


.features-4 {
  margin-top: 120px;

  &__left {
    display: block;
    max-width: 570px;
    max-height: 570px;
    position: relative;

    .descripton {
      margin-left: 50px;
    }
  }

  &__right {
    display: block;

    &-content {
      min-height: 570px;
      align-content: space-between;
      justify-content: space-between;
    }

    &-content img {
      display: block;
      width: 270px;
      height: 270px;
    }
  }
}

.mobileApp {
  padding-left: 100px;
  position: relative;
  display: block;
  width: 100%;
  min-height: 516px;
  margin-top: 120px;
  background: url("../images/back-img.png") no-repeat 100% 100%;
}

.mobileApp .descripton {
  bottom: 120px
}

.mobile-stores {
margin: 33px 10px 0 0;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 384px;
  background-color: #f7f7f7;

  &__bottom {
    & p {
      color: #6c6c6c;
      font-size: 12px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}

.containers {
  &__header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__item {
    display: block;
    padding-top: 120px;
  }

  &__item:nth-child(2) .container__header {
    padding-bottom: 24px;
  }

  &__phar {
    width: 221px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding: 24px 0;
  }

  &__info {
    &-block {
      display: block;
    }

    &-block p {
      color: #212121;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
      text-transform: uppercase;
    }
  }
}

.email__send {
  background-color: #fff;
  width: 368px;
  border: 1px solid #d9dee1;
  height: 46px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-left: 20px;
}

input[type="email"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 300px;
  height: 44px;
  vertical-align: middle;
}

input[type="submit"] {
  color: #6c6c6c;
  width: 22px;
  height: 22px;
  border: none;
  background: url("../images/tg-logo.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.social-links {
  max-height: 28px;
  max-width: 130px;
}

.social-link {
  max-height: 28px;
  max-width: 28px;
  text-decoration: none;
}

#fb {
  background: url("../images/social-links.png") no-repeat 0 100%;
}

#tw {
  background: url("../images/social-links.png") no-repeat 34% 100%;
}

#g {
  background: url("../images/social-links.png") no-repeat 67% 100%;
}

#p {
  background: url("../images/social-links.png") no-repeat 100% 100%;
}
